.content_top{width: 100%;height: 5px;
    background-color: #efefef;}
.content_container{width: 100%;height: 510px;

    background-image: url(../images/banner.jpg);
  }
/*.content_link{width: 100%;}*/
/*联系我们、标题样式设置、下边距*/
.link_us{width: 1200px;margin:0 auto;padding-bottom: 30px;
    font-size: 24px;}
/*联系我们的图片设置*/
.link_us img{vertical-align: middle;margin:20px 10px 20px 0 }
/*联系我们的文本样式设置*/
.link_us p{font-size: 16px}
/*邮箱信息*/
.link_mode{width: 1200px;margin: 0 auto}
.link_mode input{width: 361px;height: 50px;padding-left: 10px;padding-right:10px ;margin-bottom: 30px;   border: 1px solid #dcdcdc;outline: none;}
/*为email设置左右边距*/
.link_mode .mode_email{margin-right: 20px;margin-left: 20px}
/*youmessage样式设置*/
.link_message{width: 1200px;margin: 0 auto;padding-bottom: 30px}
textarea{width: 1176px;height: 130px;resize: none;padding:10px;font-size: 14px;font-family: "Segoe UI Light", Calibri;}
/*提交*/
.link_sub{width: 1200px;margin: 0 auto;padding-bottom: 30px}
.sub{width: 281px;height: 47px; border:0 none;font-size: 16px;color: white;
    background:#ff5842;}
